@import url("https://fonts.googleapis.com/css?family=Lato");

/* * {
  box-sizing: border-box;
} */
/*nav*/
@media (min-width: 200px) and (max-width: 480px) {
  .sidebar {
    overflow: hidden;
    background-color: darkseagreen;
  }

  .sidebar a {
    float: right;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: none;
  }
  .sidebar a.icon {
    float: left;
    display: block;
  }
  .sidebar.responsive {
    position: relative;
  }
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .sidebar {
    overflow: hidden;
    background-color: darkseagreen;
    display: flex;
  }

  .sidebar a {
    float: right;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .sidebar a {
    display: none;
  }
  .sidebar a.icon {
    float: left;
    display: block;
  }
  .sidebar.responsive {
    position: relative;
  }
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    overflow: hidden;
    color: black;
  }
  .sidebar a {
    position: fixed;
    left: -100px;
    transition: 0.1s;
    font-size: 20px;
    float: left;
    width: 110px;
    color: whitesmoke;

    padding: 15px;
    text-decoration: none;
    border-radius: 0 5px 5px;
  }

  #home {
    top: 25px;
    background-color: green;
    color: black;
  }
  #about {
    top: 85px;
    background-color: green;
    color: black;
  }
  #portfolio {
    top: 145px;
    background-color: green;
    color: black;
  }
  #contact {
    top: 205px;
    background-color: green;
    color: black;
  }
  #testimonial {
    top: 265px;
    background-color: green;
    color: black;
  }

  .sidebar a:hover {
    left: 0;
  }
  .sidebar .icon {
    display: none;
  }
}

/*cards*/
body {
  background-color: black;

  align-items: center;
  justify-content: center;
}

/*media queries*/
.cards {
  color: white;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10px;
    margin-left: 90px;
  }

  .container .cards {
    position: relative;
    background: lightblue;
    padding: 20px;
    margin: 50px;
    height: 350px;
    width: 400px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
  }

  .container .cards .face {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .container .cards .face.face1 {
    padding: 20px;
    color: black;
  }

  .container .cards .face.face1 h2 {
    margin-top: -80px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .container .cards:hover .face.face2 {
    height: 40px;
    font-size: 15px;
  }

  .container .cards .face.face2 {
    font-size: 15px;
    background: #000;
    color: black;
    transition: 0.5s;
  }

  .container .cards:nth-child(1) .face.face2 {
    background: darkseagreen;
  }

  .container .cards:nth-child(2) .face.face2 {
    background: lightgreen;
  }

  .container .cards:nth-child(3) .face.face2 {
    background: darkseagreen;
  }

  .container .cards:nth-child(4) .face.face2 {
    background: lightgreen;
  }
  .container .cards:nth-child(5) .face.face2 {
    background: darkseagreen;
  }
  .container .cards:nth-child(6) .face.face2 {
    background: lightgreen;
  }

  .container .cards .face.face2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 200px) and (max-width: 480px) {
  .container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 0px;
    /* margin-left: 90px; */
  }

  .cards {
    padding: 2px 16px;
    background: lightskyblue;
  }

  .container .cards {
    position: relative;
    /* background: black; */
    padding: 20px;
    margin: 50px;
    height: auto;
    width: 400px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 0px;
  }

  .cards {
    padding: 2px 16px;
    background: black;
  }

  .container .cards {
    position: relative;
    /* background: black; */
    padding: 20px;
    margin: 50px;
    height: auto;
    width: 400px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
  }
}
