body {
  background-color: black;
  align-items: center;
  justify-content: center;
}

@media (min-width: 200px) and (max-width: 480px) {
  .about {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 20px;
    line-height: 14.6667px;
    padding-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    position: relative;
    margin-left: 0px;
    text-align: center;
  }
  .sidebar {
    overflow: hidden;
    background-color: darkseagreen;
  }

  .sidebar a {
    float: right;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: none;
  }
  .sidebar a.icon {
    float: left;
    display: block;
    color: black;
  }
  .sidebar.responsive {
    position: relative;
  }
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .sidebar {
    overflow: hidden;
    background-color: darkseagreen;
  }

  .sidebar a {
    float: right;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .sidebar a {
    display: none;
  }
  .sidebar a.icon {
    float: left;
    display: block;
    color: black;
  }
  .sidebar.responsive {
    position: relative;
  }
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .about {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 50px;
    line-height: 14.6667px;
    padding-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 50px;
    line-height: 14.6667px;
    padding-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
  }
  .sidebar {
    overflow: hidden;
    color: black;
  }
  .sidebar a {
    position: fixed;
    left: -100px;
    transition: 0.1s;
    font-size: 20px;
    float: left;
    width: 110px;
    color: whitesmoke;

    padding: 15px;
    text-decoration: none;
    border-radius: 0 5px 5px;
  }

  #home {
    top: 25px;
    background-color: green;
    color: green;
  }
  #about {
    top: 85px;
    background-color: green;
    color: green;
  }
  #portfolio {
    top: 145px;
    background-color: green;
    color: green;
  }
  #contact {
    top: 205px;
    background-color: green;
    color: green;
  }
  #testimonial {
    top: 265px;

    background-color: green;
    color: green;
  }

  .sidebar a:hover {
    left: 0;
  }
  .sidebar .icon {
    display: none;
  }
  #home:hover {
    color: black;
  }
  #about:hover {
    color: black;
  }
  #portfolio:hover {
    color: black;
  }
  #contact:hover {
    color: black;
  }
  #testimonial:hover {
    color: black;
  }

  .sidebar a:hover {
    left: 0;
  }
  .sidebar .icon {
    display: none;
  }
}

/*skill levels*/

.title {
  color: white;
  text-align: left;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: transparent;
}
.container2 .card1:hover .skills {
  color: black;
}

.html {
  width: 80%;
  background-color: green;
}
.css {
  width: 75%;
  background-color: lawngreen;
}
.js {
  width: 65%;
  background-color: yellow;
}
.py {
  width: 75%;
  background-color: olive;
}
.ms {
  width: 50%;
  background-color: mediumseagreen;
}

@media screen and (min-width: 1024px) {
  .container {
    position: relative;

    border: none;
    margin-left: 150px;

    transition: 0.3s;

    align-content: center;
  }

  .panel {
    margin-top: 20px;
  }

  img {
    width: auto;
    height: 194px;
    background-size: contain;
    background-position: center;
    border-radius: 10px 0 0 10px;
    float: left;
  }

  .panel .content {
    width: 80%;
    float: left;
    padding: 20px;
    border: solid 2px green;
    border-radius: 0 10px 10px 0;

    box-sizing: border-box;

    max-width: max-content;
  }

  .panel .content h2 {
    margin-top: 20px;
    margin-bottom: 0;
    color: whitesmoke;
  }

  .panel .content p {
    margin-top: 10px;
    font-weight: 300;
    color: whitesmoke;
  }

  .panel .content button {
    border: 0;
    border-radius: 3px;

    padding: 10px 20px;
    background-color: green;
    color: black;
    cursor: pointer;
  }

  .panel .content button:hover {
    opacity: 0.7;
  }

  #more {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .container {
    position: relative;

    border: none;
    justify-content: center;
    transition: 0.3s;
  }

  .panel {
    margin-left: 30px;
    margin-right: 30px;
  }

  img {
    height: 190px;
    margin-left: 300px;
    margin-bottom: 20px;
    border-radius: 40%;
    border: 5px solid #555;
  }

  .panel .content {
    width: 100%;
    float: left;
    padding: 20px;
    border: solid 2px green;

    box-sizing: border-box;

    margin-bottom: 20px;
  }

  .panel .content h2 {
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    color: whitesmoke;
  }

  .panel .content p {
    margin-top: 10px;
    font-weight: 300;
    color: whitesmoke;
  }

  .panel .content button {
    display: none;
  }
}
@media (min-width: 200px) and (max-width: 480px) {
  .container {
    position: relative;

    border: none;
    justify-content: center;
    transition: 0.3s;
  }

  .panel {
    margin-left: 30px;
    margin-right: 30px;
  }

  img {
    height: 190px;
    margin-left: 65px;
    margin-bottom: 20px;
    border-radius: 40%;
  }

  .panel .content {
    width: 100%;
    float: left;
    padding: 20px;
    border: solid 2px green;

    box-sizing: border-box;

    margin-bottom: 20px;
  }

  .panel .content h2 {
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    color: whitesmoke;
  }

  .panel .content p {
    margin-top: 10px;
    font-weight: 300;
    color: whitesmoke;
  }

  .panel .content button {
    display: none;
  }
}
/*cont cards*/
@media screen and (min-width: 1024px) {
  .skillsbar {
    padding-bottom: 50px;
  }
  .container1 {
    display: flex;
    box-sizing: border-box;

    width: 80vw;
    margin-left: 130px;
  }

  .card {
    position: relative;
    width: 400px;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;
  }

  .card:before {
    content: "";
    position: absolute;
    left: calc(-100% + 4px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .card:hover:before {
    left: 0;
  }

  .card:nth-child(1):before {
    background: seagreen;
  }
  .card:nth-child(2):before {
    background: purple;
  }

  .card div {
    position: relative;
    z-index: 1;
  }

  .card h2 {
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: white;
    line-height: 14.6667px;
  }

  .card p {
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.5s;
    color: grey;
  }

  .container1 .card:hover div h2,
  .container1 .card:hover div p {
    color: #fff;
  }
  .container2 {
    display: flex;
    box-sizing: border-box;

    width: 80vw;
    margin-left: 130px;
  }
  .card1 {
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;
  }
  .card1:before {
    content: "";
    position: absolute;
    left: calc(-100% + 4px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .card1:hover:before {
    left: 0;
  }

  .card1:nth-child(1):before {
    background: teal;
  }

  .card1 div {
    position: relative;
    z-index: 1;
  }
  .card1 h2 {
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: white;
  }

  .card1 p {
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.5s;
    color: gray;
  }
  .container2 .card1:hover div h2,
  .container2 .card1:hover div p {
    color: #fff;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .skillsbar {
    padding-bottom: 50px;
    margin-left: 10px;
  }
  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }
  .container1 {
    box-sizing: border-box;
    color: white;
    width: 96%;

    display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }

  .card {
    position: relative;
    width: 400px;

    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;

    margin-right: 30px;
  }
  .card:nth-child(1) {
    border: solid 2px purple;
  }
  .card:nth-child(2) {
    border: solid 2px seagreen;
  }
  .card div {
    position: relative;
    z-index: 1;
  }
  .card h2 {
    margin-bottom: 0px;
    font-size: 30px;
    transition: 0.5s;
    color: whitesmoke;
    margin-top: 0px;
  }

  .card p {
    margin-bottom: 0px;
    font-size: 18px;
    transition: 0.5s;
    color: whitesmoke;
  }

  .container2 {
    width: 80vw;
    box-sizing: border-box;
    color: white;
  }
  .card1 {
    position: relative;
    width: 100%;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;
    border: solid 2px teal;
  }
  .card1 h2 {
    margin-bottom: 0px;
    font-size: 30px;
    transition: 0.5s;
    color: whitesmoke;
  }

  .card1 p {
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.5s;
    color: whitesmoke;
  }
}
@media (min-width: 200px) and (max-width: 480px) {
  .skillsbar {
    padding-bottom: 50px;
    margin-left: 10px;
  }
  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }
  .container1 {
    box-sizing: border-box;
    color: white;
    width: 80vw;
  }

  .card {
    position: relative;
    width: 165px;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;
  }
  .card:nth-child(1) {
    border: solid 2px purple;
  }
  .card:nth-child(2) {
    border: solid 2px seagreen;
  }

  .card h2 {
    margin-bottom: 0px;
    font-size: 30px;
    transition: 0.5s;
    color: whitesmoke;
    margin-top: 0px;
  }

  .card p {
    margin-bottom: 0px;
    font-size: 18px;
    transition: 0.5s;
    color: whitesmoke;
  }
  .container2 {
    width: 80vw;
    box-sizing: border-box;
    color: white;
  }
  .card1 {
    position: relative;
    width: 165px;
    margin: 30px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    object-position: center;
    border: solid 2px teal;
  }
  .card1 h2 {
    margin-bottom: 0px;
    font-size: 30px;
    transition: 0.5s;
    color: white;
  }

  .card1 p {
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.5s;
    color: white;
  }
}
