.landing {
  background-color: black;
}

/*navagation*/
.sidebar {
  overflow: hidden;
  color: black;
}

.sidebar a {
  position: absolute;
  left: -100px;
  transition: 0.1s;
  font-size: 20px;
  float: left;
  width: 100px;
  color: whitesmoke;
  /* text-align: right; */
  padding: 15px;
  text-decoration: none;
  border-radius: 0 5px 5px;
}
#home {
  top: 25px;
  background-color: lightslategray;
  color: black;
}
#about {
  top: 85px;
  background-color: lightslategrey;
  color: black;
}
#portfolio {
  top: 145px;
  background-color: lightslategray;
  color: black;
}
#contact {
  top: 205px;
  background-color: lightslategrey;
  color: black;
}
#testimonial {
  top: 265px;
  background-color: lightslategray;
  color: black;
}

.sidebar a:hover {
  left: 0;
}
.navbar {
  overflow: hidden;
  background-color: grey;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: blue;
}

/* .zero {
  color: yellow;
  text-align: center; 
  margin-left: 300px;
  border: white;
} */

/*profile image*/
img {
  border: 5px solid #555;
  width: 150px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
}

.profilepic {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frames {
  position: relative;
  margin: 0 10px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frames span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid green;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}

.propic:hover span:nth-child(1) {
  border: none;
  background: #dddc42;
}

.frames span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid green;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.propic:hover span:nth-child(2) {
  border: none;
  background: #008337;
}

.frames span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid green;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
}

.propic:hover span:nth-child(3) {
  border: none;
  background: #479638;
}

.content {
  position: relative;
  padding: 40px 60px;
  color: black;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}
.content:hover {
  color: white;
}
.content a:hover {
  background: black;
  color: white;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*about page*/
.about {
  color: black;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 14.6667px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  position: relative;
  text-align: center;

  border: 1px;
}
.ainfo {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  /* line-height: 14.6667px; */
  text-align: left;
}
.apage {
  background-color: coral;
}
/*skill levels*/
/* #bars {
  margin: 2em auto;
  max-width: 960px;
  min-width: 360px;
  overflow: hidden;
}

.bar {
  float: left;
  width: 20%;
  text-align: center;
  margin-bottom: 5rem;
}

.bar h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
  color: #8c8c8c;
}

.bar-circle {
  display: block;
  margin: 0.7em auto;
} */
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

.html {
  width: 90%;
  background-color: #4caf50;
}
.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}
.py {
  width: 60%;
  background-color: #808080;
}
.apage {
  background-color: slategray;
}
/* social media */
.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #0077b5;
}
